/*
	INFO: Fichero que define todos los colores corporativos
	de la web, incluyendo la paleta de colores y
	la paleta de grises.
*/



//PALETA DE COLORES
$primario  : #3D4349; //negro
$secundario: #6BB9F0; //azul
$comp1     : #66CC99; //verde
$comp2     : #FF5F38; //rojo
$comp3     : #F7DA47; //amarillo



//PALETA DE GRISES
$gris1: #939AA3; //mas oscuro
$gris2: #AAB2BD;
$gris3: #CCD1D9;
$gris4: #E1E4E9;
$gris5: #F1F2F9; //mas claro